.typeLoginType2SocialType3Faceb.typeLoginType2SocialType3Faceb {
  left: 45px;
  top: 669px;
  width: min-content;
  align-items: initial;
}
.icon {
  width: 100%;
  height: 100%;
}
.typeLoginType2SocialType3Googl.typeLoginType2SocialType3Googl {
  left: 153px;
  top: 669px;
  width: 87px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.typeLoginType2SocialType3Apple.typeLoginType2SocialType3Apple {
  left: 260px;
  top: 669px;
  width: min-content;
  align-items: initial;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.frame7.frame7 {
  left: 24px;
  top: 281px;
}
.frame8.frame8 {
  left: 24px;
  top: 391px;
}
.root {
  position: relative;
  width: 393px;
  height: 852px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle61 {
  position: absolute;
  left: 0;
  top: 264px;
  width: 393px;
  height: 588px;
  border-radius: 30px 30px 0 0;
  background-color: #afe520;
  box-shadow: 2px 0px 10px 0px #00000040;
}
.signInToYourAccount {
  color: #25424c;
  font-size: 38px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 44px;
  top: 88px;
  width: 306px;
  height: 43px;
  flex-direction: column;
}
.orContinueWith {
  color: #616161;
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 127.5px;
  top: 625px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.donTHaveAnAccountSignUpHere {
  position: absolute;
  left: 39px;
  top: 762px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #25424c;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle7 {
  position: absolute;
  left: 24px;
  top: 507px;
  width: 345px;
  height: 58px;
  border-radius: 10px;
  background-color: #25424c;
}
.signIn {
  color: #fff;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 156px;
  top: 521px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.carVuvietducCom {
  position: absolute;
  left: 260px;
  top: 141px;
  width: 99px;
  height: 99px;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon4 {
  width: 100%;
  height: 100%;
}
.homeIndicator {
  position: absolute;
  left: 130px;
  top: 838px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #000;
}
.dynamicIsland {
  position: absolute;
  left: 132px;
  top: 10px;
  width: 126px;
  height: 37px;
  border-radius: 19px;
  background-color: #000;
}
.statusBar {
  position: absolute;
  left: 55px;
  top: 21.7765px;
  width: 302.328px;
  height: 12.3778px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
