.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 18px 32px;
  outline: solid 1px #eee;
  outline-offset: -1px;
  border-radius: 16px;
  background-color: #fff;
}
.autoLayoutHorizontal {
  z-index: 0;
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 12px;
}
.frame {
  width: 23.04px;
  height: 24px;
}
.icon {
  width: 100%;
  height: 100%;
}
.continueWithGoogle {
  color: #212121;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  font-family: Urbanist, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
