.root {
  width: 345px;
  height: 56px;
  align-items: center;
  padding: 0 20px;
  border-radius: 12px;
  background-color: #fefefe;
}
.label {
  color: #212121;
  font-size: 14px;
  line-height: 140%;
  font-weight: 600;
  font-family: Urbanist, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
